<p id="notice"><%= notice %></p>

<h1>Plans</h1>

<table>
  <thead>
    <tr>
      <% if ((current_user.role? :faculty) || (current_user.role? :admin)) %>
        <th><</th>
      <% end %>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% if user_signed_in? %>
    <% @plans.each do |plan| %>
      <tr>
        <% if ((current_user.role? :faculty) || (current_user.role? :admin)) %>
          <td><%= plan.user.login %></td>
        <% end %>
        <td><%= plan.name %></td>
        <td><%= link_to 'Show', plan %></td>
        <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
        <td><%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plan', new_plan_path %>
