<!DOCTYPE html>
<html>
  <head>
    <title>Academic Planning Intelligence</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'api.png' %>

    <!--<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>-->
    <%= stylesheet_link_tag    'show/show' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/showheader' %>
    <%= yield %>
  </body>
</html>